html
  background black
  color white
  font-family 'DejaVu Sans ExtraLight'

@font-face
  font-family 'DejaVu Sans Extralight'
  src url('../fonts/DejaVuSans-ExtraLight.ttf') format('truetype')

.app
  display flex
  justify-content space-between

.rightColumn
  display flex
  flex-direction column
