.yrWeather
  display flex
  align-items center
  justify-content flex-end
  //background-color blue

.yrWeather-symbol
  filter grayscale(100%);
  //background-color grey
  height 8rem

.yrWeather-temperature
  //background-color yellow
  font-size 4rem
  margin 0

.yrWeather-effective-temperature
  display flex
  flex-direction column
  margin 0 1.7em 0 0.8em
  align-items center
  justify-content center

.yrWeather-effective-temperature-text
  margin 0

.yrWeather-effective-temperature-temp
  margin 0
  font-size 2rem
